.skills__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding-top: 3rem;
    gap: 5%;
    padding-left: 5%;
}

.skill__card {
    height: 75%;
    background: var(--color-primary-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);

}

.skill__card a {
    display: block;
    padding-right: 2rem;
}

.skill__card:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

/******************** Medium Devices *******************/
@media screen and (max-width: 1300px) {

    .skills__container h4 {
        font-size: 1rem;
    }

    .skill__card {
        margin-top: 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/******************** Small Devices *******************/
@media screen and (max-width: 1024px) {
    .skills__container {
        display:inline;
        padding-top: 2rem;
    }

    .skills__container h4 {
        font-size: 1rem;
    }

    .skill__card {
        margin-top: 0rem;
        margin-bottom: 2rem;
        margin-left: 10%;
        margin-right: 10%;
    }
}