.contact__container {
    display: grid;
    grid-template-columns: 50% 35%;
}

.contact_card {
    display: flex;
    padding: 5rem;
    margin-left: 35%;
}

.contact_card img {
    position: relative;
    width: 4rem;
}

a {
    color: var(--color-primary);
    padding-top: 1rem;
    list-style-type: none;
}

/******************** Mediun Devices *******************/
@media screen and (max-width: 1024px) {

    .contact__container {
        display: flex;
        padding-left: 0rem;
    }

    .contact_card img {
        width: 2rem;
    }

    .contact_card {
        display: block;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        margin-left: 20%;
    }
}